@import "tailwindcss";
@utility container {
  margin-inline: auto;
}

/* ---------- variables -------- */
@theme{
  /* --------- text color ---------- */
    --color-primary:#4B5563;
    --color-second:#111827;

    /* -------- font ----------- */
    --font-poppins:"Poppins", sans-serif;
}